html {
  font-family: 'Open Sans',sans-serif;
}
body {
  margin: 0;
  background-color: #fff;
}
.expand {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar {
  width: 100%;
  align-content: center;
  display: flex;
  overflow: hidden;
  background-color: #0096E7;
  font-family: Arial;
}
.navbar a {
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; 
  margin: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  min-width: 335px;
  flex: 3;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.posts {
  margin: 50px 0px 0px 0px;
}
.post-card-link{
text-align: right;
opacity: .5;
color: darkslategray;
font-size: 12px;
font-weight: 700;
line-height: 12px;
margin-top: 12px;
margin-left: auto;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
}
.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.highlights {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 300px;
}
.post-card-thumbnail {
  border-radius: 4px;
  overflow: hidden;
}
.post-card-title {
  color: #0096E7;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.post-card-content {
  display: flex;
  max-width: 320px;
  color: rgb(27, 25, 25);
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.img-carousel {
  margin: -25px 20px 20px -25px;
}
img {
  vertical-align: middle;
}
.slideshow {
background: rgb(0,150,231);
}
.slideshow-container {
  position: relative;
  margin: auto;
}
.box-text {
  text-align: center;
  background: white;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: right;
}
.categoria {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.newsletter-caixa {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #0096E7 !important;
  border-radius: 10px !important;
  padding: 10px 10px 10px 10px !important;
  max-height: 380px !important;
  background: #fff !important;
  color: #0096E7 !important;
}
.newsletter-titulo {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
}
.newsletter-corpo {
  font-size: 10px;
  text-align: justify;
}
.newsletter-input {
  border: 1px solid #ccc!important;
  padding: 8px;
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;
}
.newsletter-botao {
background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
border: 1px solid #CCCCCE;
border-radius: 3px;
box-shadow: 0 3px 0 rgba(0, 0, 0, .3), 0 2px 7px rgba(0, 0, 0, 0.2);
color: #616165;
font-family: "Trebuchet MS";
font-size: 14px;
font-weight: bold;
line-height: 25px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
text-shadow:1px 1px 0 #FFF;
padding: 5px 15px;
width: 120px;
}
.newsletter-sucesso {
  display:none;
  font-size: 14px;
}
.rodape {
  background-color: dimgrey;
  font-size: 10px;
  text-align: right;
  margin: 0 auto;
}
